html, body{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;	
	position: absolute;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #FFB701;
  outline: 1px solid #FFB701;
}

header{
	background-color:#fff ;
	opacity: .90;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5rem 0; 
}
.logo img{
	width: 5rem;
}


.full-screen-video-container{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-screen-video-container video{
	z-index: -1;
	position: absolute;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}
.full-screen-video-contents{

}

.btn {
	color:black;
	background-color: #fff;
	width: 400px;
	height: 100px;
	margin: 20px 30px;
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;   
}
.btn-primary{
	border-color: #fff;	
	transition: transform 1s;
}

.btn-primary:hover{
	border-color: #023246;
	background-color: #023246;
	transform: scale(1.1);

}
.banner{
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner img{
	position: relative;
	height: 50vh;
	width: 100vw;
	overflow: hidden;
}
.gallery{
	padding: 5rem;
}

.form_container{
	background-color:#023246; 
	padding: 9rem 35rem;
}

h1{
	color: #fff;
	padding-bottom:  0rem;
	text-transform: uppercase;
	text-align: center;
}

#app{
	margin-top: 5rem;
	background-color: #5c80a2;
	border-radius: 50px;
	padding: 50px;
	font-size: 1.5rem;
	color: #000;
}

.btn-success{
	border-color: #fff;	
	transition: transform 1s;
}
.btn-success:hover{
	border-color: #FFB701;
	background-color: #FFB701;
	transform: scale(1.1);
	color: #000;
}
.btn-success:active{
	border-color: #FFB701;
	background-color: #FFB701;
	color: #000;
}

.btn-success:after{
	border-color: #FFB701;
	background-color: #FFB701;
	color: #000;
}
.btn-success:visited{
	border-color: #FFB701;
	background-color: #FFB701;
	color: #000;
}
footer{
	background-color:#023246 ;
	opacity: .90;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5rem 0;
}
footer h1,p{
	text-align: center;
	color: #fff
}
.redes img{
	width: 50px;
	margin: 5px;
}

@media only screen and (max-width: 1500px) {
	.form_container{
		padding: 9rem 15rem;
	}
}

@media only screen and (max-width: 1200px) {
	.form_container{
		padding: 9rem 10rem;
	}
}

@media only screen and (max-width: 900px) {
	.form_container{
		padding: 9rem 2rem;
	}
	.banner img{
		position: relative;
		height: 20vh;
		width: 100vw;
		overflow: hidden;
	}
}

@media only screen and (max-width: 600px) {
	.btn {
		color:black;
		background-color: #fff;
		width: 300px;
		height: 100px;
		margin: 20px 30px;
		font-weight: 700;
		border-radius: 300px;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;  
	}

	.gallery{
		padding: 2rem;
	}

	.form_container{
		padding: 9rem 2rem;
	}
	.form_container h1{
		font-size: 30px;
	}
}
